.dashboard-container {
    display: grid;
    box-sizing: border-box; /*Ensures padding on the grid goes on the inside no overflow on the x-axis*/
    grid-template-columns: 3fr 3fr 1fr; /* 3 content columns + 1 narrow filter column */
    grid-template-rows: repeat(
        6,
        7.4em
    ); /* 5 equal-height rows (adjust if needed) */
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    height: 100dvh;
    background-color: #cbe3c4;
    border-top: solid 2px rgb(184, 184, 184);
}

.widget {
    display: flex;
    flex-direction: column;
    background: #557751;
    border-radius: 10px;
    padding: 0.6rem;
    color: white;
    margin: 0;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.7));
    overflow: hidden;
}
.top-borough {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.hot-spot-map {
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
}
.carbon-calculator {
    grid-column: 1 / span 1;
    grid-row: 5 / span 2;
}
.usage-chart {
    grid-column: 2;
    grid-row: 1 / span 3;
}
.borough-chart {
    grid-column: 2;
    grid-row: 4 / span 3;
}
.filters-box {
    grid-column: 3;
    grid-row: 1 / span 6;
    background-color: #cbe3c4;
    border-left: solid 1px grey;
    border-radius: 0;
    padding-left: 1rem;

    color: #557751;
}

.top-borough-output {
    font-size: 40px;
    font-weight: 650;
    margin: 0;
    margin-left: 0.5rem;
    margin-top: -0.8rem;
}

.apply-button,
.reset-button {
    font-size: 17px;
    font-weight: 100;
    width: 5rem;
    padding: 0.5rem;
    height: auto;
    margin-top: 1.5rem;
    background: #557751;
    border: solid 2px #263a24;
    border-radius: 20px;
    transition: background 0.2s ease-in-out;
}

.apply-button:enabled:hover,
.reset-button:enabled:hover {
    cursor: pointer;
    transition: background 0.1s ease-in-out;
    background: #3d563a;
}

.filter-button-container {
    display: flex;
    justify-content: space-between;
}
